body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
    font-family: cursive;
    color: #ffff;
    font-size: 150%;
    background-color: #2F4F4F;
    line-height: 0.7em;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pattern-dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.caterpillar {
    display: flex;
    align-items: center;

}

.level {
    display: none;
}

.play-screen {
    display: none;
}

.level2 {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    margin: .5rem;
    width: 20rem;
    height: 4rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    background-color: #2F4F4F;
    border-color: white;
    border: 2px solid white;


}

.main-menu button:hover {
    background-color: white;
    color: #2F4F4F;
}

#check {
    font-size: 70%;
}

#generate-button {
    font-size: 70%;
}

.level button {
    margin: .1rem;
    width: 10rem;
    height: 2rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    background-color: #2F4F4F;
    border-color: white;
    border: 2px solid white;


}

.level button:hover {
    background-color: white;
    color: #2F4F4F;
}

#level-1 {
    font-size: 70%;
}

#level-2 {
    font-size: 70%;
}