body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    text-align: center;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
}

.pattern-dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-screen {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    margin: .5rem;
    width: 20rem;
    height: 4rem;
    border-radius: .5rem;
    outline: none;
    border: none;

}