body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    text-align: center;
    font-family: cursive;
    color: #ffff;
    font-size: 150%;
    background-color: #2F4F4F;
    line-height: 0.7em;
}

footer {
    margin-top: 20px;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
}

.pattern-grid {
    display: grid;
    grid-template-columns: repeat(3, 50px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pattern-grid2 {
    display: grid;
    grid-template-columns: repeat(4, 50px);
    grid-gap: 10px;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

.pattern-dot {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pattern-dot2 {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #ccc;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.level {
    display: none;
    margin-top: 30px;
}

.play-screen {
    display: none;
    flex-direction: column;
}

.level2 {
    display: none;
}

.main-menu {
    display: flex;
    flex-direction: column;
}

.main-menu button {
    margin: .5rem;
    width: 20rem;
    height: 4rem;
    border-radius: .5rem;
    outline: none;
    border: none;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    background-color: #2F4F4F;
    border-color: white;
    border: 2px solid white;
}

.main-menu button:hover {
    background-color: white;
    color: #2F4F4F;
}

#check {
    font-size: 70%;
}

#generate-button {
    font-size: 70%;
}


#check2 {
    font-size: 70%;
}

#generate-button2 {
    font-size: 70%;
}

.level button {
    margin: .1rem;
    width: 10rem;
    height: 2rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    background-color: #2F4F4F;
    border-color: white;
    border: 2px solid white;
}

.level button:hover {
    background-color: white;
    color: #2F4F4F;
}

.home {
    display: none;
    margin-top: 30px;
}

.home button {
    margin: .1rem;
    width: 10rem;
    height: 2rem;
    border-radius: .7rem;
    outline: none;
    border: none;
    color: white;
    font-family: cursive;
    font-size: 2rem;
    background-color: #2F4F4F;
    border-color: white;
    border: 2px solid white;
}

.home button:hover {
    background-color: white;
    color: #2F4F4F;
}


#level-1 {
    font-size: 70%;
}

#level-1.is-active {
    background-color: white;
    color: #2F4F4F;
}

#level-2 {
    font-size: 70%;
}

#level-2.is-active {
    background-color: white;
    color: #2F4F4F;
}

#home {
    font-size: 70%;
}

.caterpillar {
    height: 13rem;
    width: fit-content;
}

.cater {
    height: auto;
    width: auto;
    transform: translate(-50%, -50%);
}

.body {
    position: absolute;
    width: 65px;
    height: 65px;
    background: lightgreen;
    border: 3px solid green;
    border-radius: 50%;
}

.face {
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: 15px;
    left: 12px;
}

.face::before {
    content: "";
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: -5px;
    left: 22px;
}

.face::after {
    content: "";
    position: absolute;
    width: 40px;
    height: 40px;
    border: 2px solid transparent;
    border-bottom: 4px solid black;
    border-radius: 65px;
    top: -12px;
    left: -8px;
}

.body .p1 {
    top: 25px;
    left: 10px;
    width: 70px;
    z-index: -1;
}

.body .p2 {
    top: 55px;
    left: 30px;
    width: 70px;
    z-index: -2;
}

.body .p3 {
    top: 75px;
    left: 60px;
    width: 70px;
    z-index: -3;
}

.body .p4 {
    top: 90px;
    left: 90px;
    width: 70px;
    z-index: -4;
}

.body .p5 {
    top: 100px;
    left: 120px;
    width: 70px;
    z-index: -5;
}

.body .p6 {
    top: 110px;
    left: 150px;
    width: 70px;
    z-index: -6;
}

.body .p7 {
    top: 115px;
    left: 180px;
    width: 70px;
    z-index: -7;
}

.body .p8 {
    top: 120px;
    left: 210px;
    width: 70px;
    z-index: -8;
}

.body .p9 {
    top: 120px;
    left: 240px;
    width: 70px;
    z-index: -9;
}


.antenna-l {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-right: 3px solid green;
    border-radius: 35px;
    top: -35px;
    left: -40px;
    transform: rotate(-40deg);
    z-index: -1;
}

.antenna-l:after {
    content: "";
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: 5px;
    left: 45px;
}

.antenna-r {
    position: absolute;
    width: 60px;
    height: 60px;
    border: 2px solid transparent;
    border-left: 3px solid green;
    border-radius: 35px;
    top: -40px;
    left: 50px;
    z-index: -1;
}

.antenna-r:after {
    content: "";
    position: absolute;
    border: 5px solid black;
    border-radius: 50%;
    top: 1px;
    left: 5px;
}

.design>div {
    position: absolute;
    border: 2px solid #fdffb6;
    border-radius: 50%;
    height: 8px;
    width: 8px;
    background: #ffadad;
    transform: rotate(45deg);
    top: 65px;
    left: 65px;
}

.design>div:nth-child(1) {
    top: 85px;
    left: 85px;
}

.design>div:nth-child(2) {
    top: 100px;
    left: 110px;
}

.design>div:nth-child(3) {
    top: 115px;
    left: 145px;
}

.design>div:nth-child(4) {
    top: 130px;
    left: 175px;
}

/* Modal */


/* The Modal (background) */
.modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    color: #aaaaaa;
    font-size: 70%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

/* footer */

footer {
    background-color: #2F4F4F;
    margin: 0;
    position: sticky;

    padding: 20px 0;

}

footer p {
    background-color: #2F4F4F;
    margin: 0;
    text-align: center;
    color: white;
    font-size: 0.8rem;

}


footer p a {
    color: white;
}

.social-networks {
    text-align: center;
    margin: 0;
    padding: 0;
}


.social-networks>li {
    display: inline;
}

.social-networks i {
    font-size: 100%;
    margin: 0;
    padding: 1.5% 3%;
    color: white;
}